{% extends 'base.html' %}

{% load static %}

{#타이틀 넣는 곳#}
{% block title %}
    upload
{% endblock %}

{# css 파일 넣는 곳#}
{% block css %}
    <link rel="stylesheet" href="{% static '/css/upload.css' %}">
{% endblock %}

{#자바스크립트 파일 넣는 곳#}
{% block js %}
    <script type="text/javascript" src="{% static '/js/upload.js' %}"></script>
{% endblock %}

{#메인 컨텐츠 들어가는 곳#}
{% block content %}
    <div id="upload_container">
        <div class="img_container">
            <div class="input_container">
                <p id="input_p">이미지</p>
                <div id="empty_img" class="empty_div">X</div>
                <div id="input_img_wrapper" class="input_img_wrapper hidden">
                    <img id="input_img" src="/1">
                </div>
            </div>
            <div class="style_container">
                <p id="style_p">스타일</p>
                <div id="empty_style" class="empty_div">X</div>
                <div id="style_img_wrapper" class="style_img_wrapper hidden">
                    <img id="style_img" src="/1">
                </div>
            </div>
        </div>
        <div id="img_options">
            <label class="label_select" for="select_file">
                image from local
            </label>
            <input type="file" id="select_file" class="hidden" accept="image/gif,image/jpeg,image/png"
                   onchange="loadFile(this)">
            <button>image from url</button>
            <button>image drawing</button>
            <button onclick="img_style_change()">image style change</button>
            <button>style from url</button>
            <button onclick="posting1()">create new thing</button>
        </div>
        <div id="style_box">
            {% for style in styles %}
                <div class="select_box">
                    <img src="{{ style.url }}" onclick="click_style(this)">
                    <span>{{ style.title }}</span>
                </div>
            {% endfor %}
        </div>
    </div>
    <div id="move_div" class="hidden">
        <img id="move1" class="move" src="">
        <img id="move2" class="move" src="">
    </div>
    <div id="output" class="hidden">
        <img src="{% static '/img/칸딘 후추1.png' %}">
        <div id="output_btns" class="output_btns" class="output_btns">
            <button>retry</button>
            <button>save</button>
            <button>sell</button>
        </div>
    </div>
{% endblock %}

