{% extends 'base.html' %}

{% load static %}

{#타이틀 넣는 곳#}
{% block title %}
    upload
{% endblock %}

{# css 파일 넣는 곳#}
{% block css %}
    <link rel="stylesheet" href="{% static '/css/upload.css' %}">
{% endblock %}

{#자바스크립트 파일 넣는 곳#}
{% block js %}
    <script>
        function posting() {
            let file = $('#select_file')[0].files[0]
            let num = $('#select_num').val()
            let key = $('#select_key').val()
            let form_data = new FormData()

            form_data.append("img", file)
            form_data.append("num", num)
            form_data.append("key", key)

            $.ajax({
                type: "POST",
                url: 'http://127.0.0.1:5000/api/v1/nsts/',
                data: form_data,
                cache: false,
                contentType: false,
                processData: false,
                enctype: 'multipart/form-data',
                success: function (response) {
                    console.log(response['file_url'])
                    let output = document.getElementById('output')
                    let out_img = document.createElement("img");
                    out_img.src = response['file_url']
                    out_img.style.width = "100%";
                    out_img.style.height = "100%";
                    out_img.style.visibility = "visible";
                    out_img.style.objectFit = "cover"
                    output.appendChild(out_img);
                }
            });
        }
    </script>
{% endblock %}

{#메인 컨텐츠 들어가는 곳#}
{% block content %}
    <div class="input_container">
    <input type="file" id="select_file">
    <input type="number" id="select_num">
    <input type="text" id="select_key">
    <button onclick="posting()">업로드</button>
    </div>
    <div id="output"></div>
{% endblock %}

