.noresult_wrap{
    width: 100%;


}
.noresult{
    margin-top: 7%;
}
.noresult button{
    margin: 2%;
    width: 7%;
}

.count {
    margin: 3%;
    font-weight: bold;
}

.wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 7%;
}

.box {
    border-radius: 10px;
    border: 1px solid lightgray;
    margin: 2%;
    display: flex;
    flex-direction: column;
    width: 260px;
    height: 100%;
}

#content {
    z-index: 3;
}

#content:hover {
    box-shadow: rgb(4 17 29 / 25%) 0px 0px 8px 0px;
    -webkit-transform:scale(1.02);     /*  크롬 */
    transition: all 0.1s ease 0s;
}

.box img {
    max-width: 300px;
    max-height: 300px;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    cursor: pointer;
}

.post {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    font-size: 14px;
    padding: 2%;
}

.post_left {
    display: flex;
    cursor: pointer;
    align-items: center;
}

.post_left p {
    text-align: left;
    margin-left: 10px;
    margin-top: 5%;
    margin-bottom: 0px;
}
.post_right{
    margin: 1% 1% 1% 1%;
}
.post_right p {
    /*margin-top: 3px;*/
    /*margin-right: 1%;*/
}

.page {
    margin-top: 100px;
}

.box .profile_aa{
    width: 40px;
    height: 40px;
    border-radius: 20px;
}

.check{
    margin-top: 2%;
    text-align: left;
    color:rgba(0, 0, 0, 0.54);
    font-size: 20px;

}