.wrapper-signup {
    color: #555555;
    padding-bottom: 30px;
    width: 500px;
    height: 100%;
    border-radius: 20px;
    border: 0;
    box-shadow: rgb(4 17 29 / 25%) 0px 0px 10px 0px;
    margin: 3%;
}

.container-signup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    font-size: 30px;
    font-weight: bolder;
    font-style: normal;
    margin: 7%;
}

.container-signup form {
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-signup form input {
    width: 300px;
    height: 30px;
    border-radius: 20px;
    border: 1px solid rgb(202 206 211);
    margin: 5%;
    padding: 2%;
    padding-left: 5%;
}

.container-signup form button {
    margin: 5%;
    padding: 3%;
}

.test_image {
    width: 70%;
    border-radius: 20px;
    margin: 5%;
}

.answer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#answer::placeholder {
    text-align: center;
}

.answer p {
    margin-top: 5px;
    margin-bottom: 5px;
}

.answer input {
    margin-top: 5px;
    margin-bottom: 5px;
}

button {
    padding: 3%;
}
.label_wrapper{
    display: flex;
    width: 300px;
}
.help_a a{
    font-weight: bold;
}