.wrapper-signup {
    color: #555555;
    margin-top: 30px;
    padding-bottom: 30px;
    width: 500px;
    height: 100%;
    border-radius: 20px;
    border: 1px solid grey;
}

.container-signup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin: 0 auto;
}

.title {
    font-size: 30px;
    font-weight: bolder;
    font-style: normal;
    margin-top: 20px;
    margin-bottom: 15px;
}

.type-box {
    width: 400px;
}

.type-box p {
    text-align: left;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 50px;
}

.type-box input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 50px;

    width: 300px;
    height: 30px;
    border-radius: 13px;
    border: 1px solid grey;
}

.test_image img {
    width: 70%;
    border-radius: 20px;
    margin-top: 5px;
}

.answer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#answer::placeholder {
    text-align: center;
}

.answer p {
    margin-top: 5px;
    margin-bottom: 5px;
}

.answer input {
    margin-top: 5px;
    margin-bottom: 5px;
}

button {
    padding: 3%;
}

