.wrapper-signup {
    color: #555555;

    margin-top: 30px;
    padding-bottom: 30px;
    background-color: lightgrey;
    width: 25%;
    height: 100%;

    border-radius: 5px;
    box-shadow: 4px 4px grey;
}

.container-signup {
    display: flex;
    flex-direction: column;
}

.title {
    font-size: 30px;
    font-weight: bolder;
    font-style: normal;

    margin-top: 30px;
}

.input-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-top: 7px;
    margin-bottom: 7px;
}

.label-info {
    margin-top: 7px;
    margin-bottom: 7px;
}