{% extends 'base.html' %}

{% load static %}

{#타이틀 넣는 곳#}
{% block title %}
search
{% endblock %}

{# css 파일 넣는 곳#}
{% block css %}
<link rel="stylesheet" href="{% static '/css/search.css' %}">
{% endblock %}

{#자바스크립트 파일 넣는 곳#}
{% block js %}

{% endblock %}

{#메인 컨텐츠 들어가는 곳#}
{% block content %}

    {% if error %}
        <div class = 'noresult_wrap'>
        <p class ='count'>{{ all }} items</p>
        <div class='noresult'>
         <h1>No items found for this search</h1>
         <button  onclick="location.href='/'">Back to main</button>
        </div>
        </div>
    {% else %}
<div class = 'allwrap'>


<div class = 'item_count'>
     <p class = 'count'>{{ all }} items</p>
</div>
    <div class = 'wrap' >
         {% for drawing in page_obj %}
        <article id="content" class = 'box' >
                <img src="{{ drawing.img }}" alt="이미지" onclick="location.href='/detail/{{ drawing.owner.pk }}/{{ drawing.pk }}'">
            <footer class = 'post'onclick="location.href='/seller/{{ drawing.owner.pk }}'">

                <div class = 'post_left'>
                    <img src="{{ drawing.owner.img }}" class='profile_aa'>
                    <div>
                        <p>{{ drawing.title }}</p>
                        <p>{{ drawing.owner.nickname }}</p>
                    </div>

                </div>
                <div class = 'post_right'>
                    <p>{{ drawing.buy_price }} point</p>
                </div>
            </footer>
        </article>
        {% endfor %}
    </div>
    {% endif %}

</div>
{#<div class = 'page__aa'>#}
{#    <h5>#}
{#<!--        페이지 표시 부분-->#}
{#        {% if page_obj.has_previous %}#}
{#<!--            이전 페이지가 있는지 check해줘요:)-->#}
{#            <a href="?page={{page_obj.previous_page_number}}&search={{search}}">이전</a>#}
{#        {% endif %}#}
{#        {% if all > 0 %}#}
{#        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}#}
{#        {% endif %}#}
{#        {% if page_obj.has_next %}#}
{#<!--            다음 페이지가 있는지 check해줘요:)-->#}
{#            <a href="?page={{page_obj.next_page_number}}&search={{search}}">다음</a>#}
{#        {% endif %}#}
{#    </h5>#}
{##}
{#</div>#}
<script>
console.log("it's alive!")


content = document.querySelector(".wrap");
let page = 2

window.onscroll = function() {
    url = `?page=${page}&search={{ search }}`
     {#console.log(url)#}
    if (window.innerHeight + window.scrollY+1 >= document.body.offsetHeight) {

        fetch(url).then(res => {
            if (res.ok) {
                {#console.log(res.json())#}
                return res.json();
            }
        }).then(data => {
             console.dir(data)
            page += 1
            setTimeout(()=>{content.innerHTML += data.map(
            	obj=>`<article id="content" class = 'box' >
                <img src="${obj.img}" alt="이미지" onclick="location.href='/detail/${obj.owner_pk}/${obj.pk}'">
            <footer class = 'post' onclick="location.href='/seller/${obj.owner_pk}'">
                <div class = 'post_left'>
                    <img src="${obj.proimg}" class='profile_aa'>
                    <div>
                        <p>${obj.title}</p>
                        <p>${obj.owner}</p>
                    </div>
                </div>
                <div class = 'post_right'>
                    <p>${obj.buy_price} point</p>
                </div>
            </footer>
        </article>`
            	).join("\n")},300)
        }).catch(err => {

        })
    }
}
</script>
<!--무한스크롤 테스트-->
{% endblock %}