{% extends 'base.html' %}

{% load static %}

{#타이틀 넣는 곳#}
{% block title %}
    회원 가입
{% endblock %}

{# css 파일 넣는 곳#}
{% block css %}

{% endblock %}

{#자바스크립트 파일 넣는 곳#}
{% block js %}

{% endblock %}

{#메인 컨텐츠 들어가는 곳#}
{% block content %}
    <h1>회원가입</h1>
    <form method="POST">
        {% csrf_token %}
        <input name="email">
        <input type="password" name="password">
        <input type="password" name="password2">
        <input name="nickname">
        <button type="submit">Create Account</button>
    </form>
{% endblock %}