{% extends 'base.html' %}

{% load static %}

{#타이틀 넣는 곳#}
{% block title %}
    회원 가입
{% endblock %}

{# css 파일 넣는 곳#}
{% block css %}
    <link rel="stylesheet" href="{% static '/css/sign_up.css' %}">
{% endblock %}

{#자바스크립트 파일 넣는 곳#}
{% block js %}

{% endblock %}


{#메인 컨텐츠 들어가는 곳#}
{% block content %}
    <div class="wrapper-signup">
        <div class="title">
            Sign Up
        </div>
        <div class="container-signup">
            <form method="POST" action="/sign_up/" name="sign_up">
                {% csrf_token %}
                <div class="label_wrapper">
                    <label for="email">Email</label>
                </div>

                <input name="email" autocomplete="off" required>
                <div class="label_wrapper"><label for="password">Password</label></div>

                <input type="password" name="password" autocomplete="off" required>
                <div class="label_wrapper"><label for="password2">Re-enter Password</label></div>

                <input type="password" name="password2" autocomplete="off" required>
                <div class="label_wrapper"><label for="Nickname">Nickname</label></div>

                <input name="nickname" autocomplete="off" required>
                <img class="test_image" src="{{ url }}">
                <input value="{{ title }}" style="display: none" name="answer">
                <label>그림에 존재하는 동물을 적어주세요</label>
                <input id="answer" name="user_answer" placeholder="'고양이' 혹은 '강아지'" required>
                <button type="submit">Create Account</button>
            </form>
            <div class="help_a">
                Already have an account?
                <a href="/sign_in/">Sign In</a>
            </div>
            {% if error %}
                <script>
                    alert('{{ error }}')
                </script>
            {% endif %}
        </div>
    </div>
{% endblock %}