{% extends 'base.html' %}

{% load static %}

{#타이틀 넣는 곳#}
{% block title %}
    회원 가입
{% endblock %}

{# css 파일 넣는 곳#}
{% block css %}
    <link rel="stylesheet" href="{% static '/css/sign_up.css' %}">
{% endblock %}

{#자바스크립트 파일 넣는 곳#}
{% block js %}

{% endblock %}


{#메인 컨텐츠 들어가는 곳#}
{% block content %}
    <div class="wrapper-signup">
        <div class="title">
            Sign Up
        </div>
        <div class="container-signup">
            <form method="POST" action="/sign_up/" name="sign_up">
                {% csrf_token %}
                <div class="type-box">
                    <p for="email">Email</p>
                    <input name="email" placeholder="Email" autocomplete="off" required>
                    <p for="password">Password</p>
                        <input type="password" name="password" placeholder="Password" autocomplete="off" required>
                    <p for="password2">Re-enter Password</p>
                    <input type="password" name="password2" placeholder="Re-enter password" autocomplete="off" required>
                    <p for="Nickname">Nickname</p>
                    <input name="nickname" placeholder="Nickname" autocomplete="off" required>
                    <div class="test_image">
                        <img src="{{ url }}">
                    </div>
                </div>
                <input value="{{ title }}" style="display: none" name="answer">
                <div class="answer">
                    <p>그림에 존재하는 동물을 적어주세요</p>
                    <input id="answer" name="user_answer" placeholder="'고양이' 혹은 '강아지'" required>
                </div>
                <button type="submit">Create Account</button>
            </form>
            <p></p>
            <div>
                Already have an account?
                <a href="/sign_in/">Sign In</a>
            </div>
            {% if error %}
                <script>
                    alert('{{ error }}')
                </script>
            {% endif %}
        </div>
    </div>
{% endblock %}