{% extends 'base.html' %}

{% load static %}

{#타이틀 넣는 곳#}
{% block title %}
    로그인
{% endblock %}

{# css 파일 넣는 곳#}
{% block css %}

{% endblock %}

{#자바스크립트 파일 넣는 곳#}
{% block js %}

{% endblock %}

{#메인 컨텐츠 들어가는 곳#}
{% block content %}
    <h1>로그인</h1>
    {% if error %}
        <h3>{{ error }}</h3>
    {% endif %}
    <form method="POST">
        {% csrf_token %}
        <input name="username">
        <input type="password" name="password"/>
        <button type="submit">로그인</button>
    </form>
{% endblock %}